{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="main-content login-form">
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Yo soy {{ user.first_name }} {{ user.last_name }}</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <h1>BIENVENIDOS A SIIUTTLAX</h1>
        <form method="post" action="{% url 'login' %}" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario:</label>
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Ingresa tu usuario" required>
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" id="id_password" class="form-control" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="register-link">
            <p>¿No tienes cuenta? <a href="">Regístrate aquí</a></p>
        </div>
    {% endif %}
</div>
{% endblock %}
